{
  "smtp": {
    "server": "smtp.gmail.com",
    "port": 587,
    "username": "smtp-username",
    "password": "smtp-password"
  },
  "slack": {
    "slack_key": "slack-key",
    "channel_id": "3PRRCANSP"
  }
}
