{
  "smtp": {
    "server": "smtp.gmail.com",
    "port": 465,
    "username": "smtp-username",
    "password": "smtp-password"
  },
  "slack": {
    "bot_user_token": "bot_user_oauth_access_token",
    "channel_name": "general"
  }
}
